{% extends "base.html" %}

{% block head %}
<style>
    #map, .map {
      height: 100%;
      width: 100%;
    }
    html, body {
      height: 100%;
      margin: 0;
      padding: 0;
    }
  </style>


<title>{{trail.name}}</title>

{% endblock %}

{% block body %}

<!-- #################################################################################

                                    # Search Bar

################################################################################# -->
 
<form id="state--searching--form" action="/trail/state/state" method="POST" class="search--form">
    <input id="searching" name="state" class="search--input" type="search" placeholder="Search state name or abbreviation here...">
</form>
  
<script type="text/javascript" src="../static/js/searchForTrails.js"></script>
  
<!-- #################################################################################

                            # Trail Header Info

################################################################################# -->

<div class="container">
    <div id="trail--header" class="row text-center" style="margin-top:20px; padding: 12px">
        <div class=" trail--header col">
                <h1>
                <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-signpost-2" viewBox="0 0 16 16">
                    <path d="M7 1.414V2H2a1 1 0 0 0-1 1v2a1 1 0 0 0 1 1h5v1H2.5a1
                    1 0 0 0-.8.4L.725 8.7a.5.5 0 0 0 0 .6l.975 1.3a1 1 0 0 0 .8.4H7v5h2v-5h5a1
                    1 0 0 0 1-1V8a1 1 0 0 0-1-1H9V6h4.5a1 1 0 0 0 .8-.4l.975-1.3a.5.5 0 0 0 0-.6L14.3
                    2.4a1 1 0 0 0-.8-.4H9v-.586a1 1 0 0 0-2 0zM13.5 3l.75 1-.75 1H2V3h11.5zm.5 5v2H2.5l-.75-1 .75-1H14z"/>
                </svg>
                {{trail.name}}</h1>
            <div style="font-weight: bold; " class="">{{trail.area_name}} - {{trail.city_name}}, {{trail.state_name}}</div>
        </div>
    </div>
</div>

<div class="container" ; margin-bottom: 5px;">
    <div class="row" style="margin-bottom: 5px;">
        <div class="trail--info col text-center">
            Length: {{length}}
        </div>
        <div class="trail--info col text-center mx-auto">

            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-graph-up-arrow" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M0 0h1v15h15v1H0V0Zm10 3.5a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 .5.5v4a.5.5 0 0 1-1 0V4.9l-3.613 4.417a.5.5 0 0 1-.74.037L7.06 6.767l-3.656 5.027a.5.5 0 0 1-.808-.588l4-5.5a.5.5 0 0 1 .758-.06l2.609 2.61L13.445 4H10.5a.5.5 0 0 1-.5-.5Z"/>
            </svg>
            Elevation Gain: {{elevation_gain}}
        </div>
            <div class="trail--info col text-center mx-auto">
                Difficulty Rating: {{trail.difficulty_rating}}
            </div>
            <div class="trail--info col text-center mx-auto">
                Route Type: {{route_type}}
            </div>
        </div>

<!-- #################################################################################

                            # Trail Images Carousel

################################################################################# -->


<div class="container shadow" style="max-width: 100%">
    <div class="row">
        <div class="col-6">
            <div style="background-color: rgb(128, 128, 128, 0.9);" id="carouselExampleControlsNoTouching" class="carousel slide" data-bs-touch="false" data-bs-interval="false" >
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img style="height: 500px; width: auto; margin:auto;" src="{{active_image[0]}}" class="d-block w-5" alt="">
                    </div>
                    {% for image in trail_images %}
                        <div class="carousel-item">
                            <img style="height: 500px; margin:auto;" src="{{image[0]}}" class="d-block w-5" alt="">
                        </div>
                    {% endfor %}
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControlsNoTouching" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControlsNoTouching" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>
        <div class="col-6">
            <div style="width: 100%; padding: 0; margin:0" id="map"></div>
        </div>
    </div>
</div>

<!-- #################################################################################

                            # Trail Map

################################################################################# -->
  
<script src="../static/js/trailDetailsMap.js"></script>
<script async src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB3Ub91O7c0vT22NdBJ9ID0BnWwH2frQWw&callback=initMap"></script>

<div id="lat" style="display:none;" >{{lat}}</div>
<div id="lng" style="display:none;" >{{lng}}</div>


<!-- #################################################################################

                            # Trail Details Section

################################################################################# -->

    <div class="row mx">
        <div class="trail--info col-6 text-center">
            <h5 style="text-decoration:underline ;" >Features</h5>
            {% for feature in features %}
                <span style="margin: 10px">
                    {{feature}}
                </span>
            {% endfor %}
        </div>
        <div class=" trail--info col-6 text-center">
            <h5 style="text-decoration:underline ;" >Activities</h5>
            {% for activity in activities %}
                <span style="margin: 10px">
                    {{activity}}
                </span>
            {% endfor %}
        </div>
    </div>
            
</div>

<!-- #################################################################################

                            # Action Items Toolbar

################################################################################# -->

<div class="container" style="width:100%">
    <div class="row" style="background-color: rgba(238, 215, 175, 0.366); width: 50%; margin-left: auto; margin-right: auto; margin-top: 30px; border-radius: 105px;">
        <div class="col text-center" style="margin-left: 20%">
            <div id="favorite--div" class="btn-circle btn-xl text-center rounded-circle;" style="background-color: white; cursor: pointer">
                <span class="text-center" style="width: 25px; cursor: pointer;" id="favorite"></span>
                {% if not session['user_id'] %}
                    <div style="color: black; padding-top:10px; font-size: 18px "><a href="/login">Log-in</a> or <a href="/sign-up">Sign-Up</a> to Favorite This Trail</div>
                {% else %}
                    <span style="color: black">Favorite This Trail</span>
                {% endif %}
            </div>
        </div>
        <div class="col text-center" style="text-align: center; margin-right: 10%">
            <div id="directions--div" class="btn-circle btn-xl text-center rounded-circle ;" style="background-color: white; cursor: pointer">
                <svg id="get--directions" style="cursor: pointer; color: red;" id="get--directions" xmlns="http://www.w3.org/2000/svg" width="48" height="48" fill="currentColor" class="bi bi-geo-alt" viewBox="0 0 16 16">
                    <path d="M12.166 8.94c-.524 1.062-1.234 2.12-1.96 3.07A31.493 31.493 0 0 1 8 14.58a31.481 31.481 0 0 1-2.206-2.57c-.726-.95-1.436-2.008-1.96-3.07C3.304 7.867 3 6.862 3 6a5 5 0 0 1 10 0c0 .862-.305 1.867-.834 2.94zM8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10z"/>
                    <path d="M8 8a2 2 0 1 1 0-4 2 2 0 0 1 0 4zm0 1a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
                </svg>
                <div></div>
                <span style="color: black">Get Directions</span>
            </div>
        </div>
    </div>
</div>
<script src="../static/js/favorite-click.js"></script>
<script src="../static/js/getDirections.js"></script>


<!-- #################################################################################

                            # Local Weather Section

################################################################################# -->

<div class="container" id="local-weather" style="margin-top:50px">
    <div class="trail--info">
        <h2 style="text-align: center;">Local Weather</h2>
    </div>
</div>

<div class="container">
    <div id="forecast" class="row justify-content-center"></div>
</div>
    
<script src="../static/js/weatherForecast.js"></script>
    
<div  id="favorite"></div>
<script type="text/babel" src="/static/js/favorite-click.jsx"></script>

<div id="test"></div>
<script type="text/babel" src="/static/js/Index.jsx"></script>




<!-- #################################################################################

                            # Reviews Section

################################################################################# -->

<div class="container trail--info" style="margin-top: 30px;">
    <h2 style="text-align: center;">Reviews</h2>
</div>
<div class="container" style="background-color: rgba(238, 215, 175, 0.95); border-radius:50px; width: 75%; padding-top: 25px">
    {% if reviews %}
        <div id="trail--reviews" style="text-align:center; padding-bottom: 50px;"><div></div>
        </div>
        <script src="../static/js/getReviewsForTrail.js"></script>
        {% else %}
            {% if session['user_id'] %}
                <div style="text-align:center; padding-bottom: 50px;">
                    <h2>There are no reviews for this trail yet.</h2>
                    <h3>Be the first one!</h3>
                </div>
            {% elif not session['user_id'] %}
                <div style="text-align:center; padding-bottom: 50px;">
                    <h2>There are no reviews for this trail yet.</h2>
                    <h3><a href="/sign-up">Sign up</a> and be the first!</h3>
                </div>
            {% endif %}
    {% endif %}

    {% if reviewed %}



    <!-- #################################################################################

                            # Edit Review Modal

    ################################################################################# -->

    <div class="row text-center">
        <div class="col">
            <button style="margin:15px" type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteReviewModal">
                Delete Review
            </button>
        </div>
        <div class="col">
            <button style="margin:15px" type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#editReviewModal">
                Edit Review  
            </button>
        </div>
    </div>

    <div class="modal fade" id="deleteReviewModal" tabindex="-1" role="dialog" aria-labelledby="deleteReviewModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteReviewModalLabel"></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                        <div style="text-align:center; width:450px; margin-right: auto; margin-left: auto;">
                        <h3>Are you sure you want to delete your review?</h3>
                        </div><br>
                        <div style="padding: 15px" class="row justify-content-between">
                            <div class="row">
                                <div style="text-align: right" class="col">
                                    <form id="delete--review"  method="POST"  action="/trails/delete-post">
                                        <button id="review-submit-reviewed" name="delete-review" class="btn btn-primary" type="submit" Value="Delete Review">Confirm</button>
                                    </form>
                                </div>
                                <div class="col">
                                    <button id="cancel--delete" type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                                </div>
                            </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        <div class="modal fade" id="editReviewModal" tabindex="-1" role="dialog" aria-labelledby="editReviewModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="editReviewModalLabel">Edit Your Review</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <form id="review--form">
                            <div style="text-align:center; width:450px; margin-right: auto; margin-left: auto;">
                                <textarea id="edited--review" 
                                style="text-align: center; width: 450px; height: 300px" name="edit-review" type="text">{{review_text}}</textarea>
                            </div><br>
                            <div style="padding: 15px" class="row justify-content-between">
                                <div class="col-lg-auto">
                                </div>
                                <div class="col-md-auto">
                                    <button id="edit--review" type="submit" class="btn btn-primary" data-bs-dismiss="modal">Save changes</button>
                                    <button id="cancel--edit" type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
                
                
                
                
<script async src="../static/js/editReview.js"></script>
<script async src="../static/js/listenForEditReview.js"></script>
<!-- <script src="../static/js/deleteReview.js"></script> -->
    <script src="../static/js/editReview.js"></script>


    {% elif session['user_id'] %}

    <form style="text-align:center; padding-bottom: 50px;" method="POST" action="/trails/{{trail.name}}">

        <textarea style="height: 100px; width: 50%; text-align: center;" name="new-review" 
        type="text" placeholder="Please type your review here..."></textarea><br>

        <input class="btn btn-primary" tyle="width:50%" type="Submit" value="Submit Review" />
    </form>

    {% else %}

    {% endif %}

</div>
<div style="height: 75px"></div>
{% endblock %}